body {
  font-family: 'Arimo', sans-serif;
}
nav {
  background-color: #1c1c1c;
}
#paris-map {
  height: calc(75vh);
}
@media (min-width: 768px) {
  #paris-map {
    height: calc(100vh - 66px);
  }
  #sidebar {
    height: calc(100vh - 66px);
    overflow-y: auto;
    border-right: 1px solid rgba(0,0,0,.125);
  }
}
#sidebar h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
#sidebar h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#cities {
  font-size: 20px
}
#cities .active {
  font-weight: bold;
}
#cities .disabled {
  cursor: not-allowed;
}
#marker-controls .btn {
  padding: .5rem;
  margin-bottom: 5px;
  margin-right: .5rem;
  border-radius: 18px 18px 0;
  transform: rotate(45deg);
}
#marker-controls .btn.focus, #marker-controls .btn:focus {
  box-shadow: none;
}
#map-controls .btn {
  padding: .5rem;
  margin-bottom: 5px;
  margin-right: .5rem;
}
#map-controls .btn.focus, #mmap-controls .btn:focus {
  box-shadow: none;
}
/* Markers and Pop-ups */

.my-div-icon span {
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  top: -15.728px;
  left: -3px;
  border: 1px solid #fff;
  border-radius: 18px 18px 0;
  transform: rotate(45deg);
}

.leaflet-popup {
  font-size: initial;
}
.leaflet-popup-content h3 {
  font-size: 24px;
}

.leaflet-popup-content #address {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 80%;
  font-style: italic;
}

.leaflet-container .badge {
  color: #fff;
}
#garments img {
  width: 100px;
  max-width: none;
  margin-bottom: 1rem;
}
